body {
  background-color: #0457A0;
  overflow: hidden;
}
#you_lost {
  display:inline-block;
  align-items: center;
  display: none;
  justify-content: center;
}

.lost_pic{
  width:8%;
  height:8%;
}

#lost_text{
  color:#FFF56C;
  font-family: Slackey;
  font-size: 40px;
}

.lost_text{
  color:#FFF56C;
  font-family: Slackey;
  font-size: 20px;
}

#title{
  color:orange;
  background-color: #0457A0;
  font-size: 18px;
  font-style: bold;
}
.toolbar{
  text-align: center;
}
ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  overflow: hidden;
  background-color: #0457A0;
  font-family: 'Baloo Bhaina';
  width: 100%;
  position: sticky;
  /* top: 0; */
}
li {
  float: left;
  
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 5px;
  text-decoration: none;

  line-height: 18px;
}
li a:hover {
  background-color: #003E87;
  color: white;
}
#title:hover {
background-color:orange;
color:white;
}
#button{
  background:#0457A0;
  color:white;
  font-size: 15px;
  width:150px;
  border-color: white;
  padding: 20px 10px;
  font-family: Slackey;
  font-size: 25px;

} 

#button:hover{
  background:#FFF56C;
  color: #26B9C8;
}
.right{
  float: right;
  margin-right: 70px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  /* width: 100%; 
  height: 100%;  */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);  */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 25px;
}

table{
  font-family: Slackey;
  font-size: 20px;
}

span, h2{
  font-family: Slackey;
  font-size: 25px;
  color: #0457A0;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.heading{
  color: #26B9C8;
}

canvas {
  border:10px ridge #FFF56C;;
  background-color: lightblue;
  background: url('assets/images/setting.jpg');
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
  /* width: 800px; */
  background-size: 600px 400px;
  display: none;
}

/* input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #26B9C8;
} */

input[type=text] {
  width: 25%;
  background-color: #0457A0;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  font-size: 15px;
  border-bottom: 2px solid #26B9C8;
  font-family: Slackey;
}

input[type=submit]{
  background-color: #0457A0;
  color: white;
  font-family: Slackey;
  font-size: 15px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-color: white;
}

input[type=submit]:hover{
  background-color: orange;
  color: white;
}


#imgTitle{
  width: 15%;
  height: 15%;
}

.runner{
  color: #FFF56C;
}

.directions{
  color: white;
}

#runner_Game{
  display: block;
}

.num_1{
  color: #0457A0;
}
